<launch>

    <!-- URDFのパスのセット -->
    <param name="robot_description" textfile="$(find damitora_description)/urdf/damitora5.urdf" />

    <!-- joint_state_publisher_gui -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

    <!-- robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Rviz 起動 -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find damitora_description)/rviz/damitora5.rviz" />

    <!-- TFをposeに変換するノード(トラッカーの座標・姿勢はここで自動計算) -->
    <node name="pose_tracker_C" pkg="jsk_topic_tools" type="tf_to_pose.py">
        <param name="src_frame" value="world"/>
        <param name="dst_frame" value="tracker_C_link"/>
        <param name="rate" value="60"/>
    </node>

    <!-- TFをposeに変換するノード(トラッカーの座標・姿勢はここで自動計算) -->
    <node name="pose_tracker_R" pkg="jsk_topic_tools" type="tf_to_pose.py">
        <param name="src_frame" value="world"/>
        <param name="dst_frame" value="tracker_R_link"/>
        <param name="rate" value="60"/>
    </node>

    <!-- TFをposeに変換するノード(トラッカーの座標・姿勢はここで自動計算) -->
    <node name="pose_tracker_R2" pkg="jsk_topic_tools" type="tf_to_pose.py">
        <param name="src_frame" value="world"/>
        <param name="dst_frame" value="tracker_R_link2"/>
        <param name="rate" value="60"/>
    </node>

    <!-- TFをposeに変換するノード(トラッカーの座標・姿勢はここで自動計算) -->
    <node name="pose_tracker_L" pkg="jsk_topic_tools" type="tf_to_pose.py">
        <param name="src_frame" value="world"/>
        <param name="dst_frame" value="tracker_L_link"/>
        <param name="rate" value="60"/>
    </node>

    <node name="pose_tracker_L2" pkg="jsk_topic_tools" type="tf_to_pose.py">
        <param name="src_frame" value="world"/>
        <param name="dst_frame" value="tracker_L_link2"/>
        <param name="rate" value="60"/>
    </node>

</launch>
