<?xml version="1.0"?>
<launch>

    <!-- URDFのパスのセット -->
    <param name="robot_description" textfile="$(find damitora_description)/urdf/damitora3.urdf" />

    <!-- dynamixel controllers -->
    <include file="$(find damitora_dynamixel)/launch/dynamixel_controllers.launch">
        <arg name="usb_port"                default="/dev/ttyUSB0"/>
        <arg name="dxl_baud_rate"           default="1000000"/>
    </include>

    <!-- robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="joint_states" to="/dynamixel_workbench/joint_states"/>
    </node>

    <!-- Rviz 起動 -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find damitora_description)/rviz/damitora3.rviz" />

    <!-- TFをposeに変換するノード(トラッカーの座標・姿勢はここで自動計算) -->
    <node name="pose_tracker_C" pkg="jsk_topic_tools" type="tf_to_pose.py">
        <param name="src_frame" value="world"/>
        <param name="dst_frame" value="tracker_C_link"/>
        <param name="rate" value="60"/>
    </node>

    <!-- TFをposeに変換するノード(トラッカーの座標・姿勢はここで自動計算) -->
    <node name="pose_tracker_R" pkg="jsk_topic_tools" type="tf_to_pose.py">
        <param name="src_frame" value="world"/>
        <param name="dst_frame" value="tracker_R_link"/>
        <param name="rate" value="60"/>
    </node>

    <!-- TFをposeに変換するノード(トラッカーの座標・姿勢はここで自動計算) -->
    <node name="pose_tracker_L" pkg="jsk_topic_tools" type="tf_to_pose.py">
        <param name="src_frame" value="world"/>
        <param name="dst_frame" value="tracker_L_link"/>
        <param name="rate" value="60"/>
    </node>
    
</launch>

